<style>
body {
  margin: 0;
 background-color : #33ff3c;
}
.header {
	text-align: center;
	background-color: #46FF00;
	padding: 50px;
}
.navbar {
	background-color: #FF0000;
}
.navbar a {
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
}
.navbar a:hover {
	background-color: #1700FF;
	color: #000000;
}
#mainTab {
	background-color: #FFFFFF;
	color: #000000;
}
</style>
